html {
    font-family: Arial, Helvetica, sans-serif;
}

.login_container {
    margin-top: 50px;
}

.login_container_left_title, .login_container_right_title {
    font-size: 18px;
}

.group {
    margin-top: 16px;
}

.group > span, input {
    display: block;
}

.group > input {
    padding: 0 15px;
    background-color: #fff;
    font-size: 1em;
    border: none;
    width: 95%;
    line-height: 1.5;
    min-height: 40px;
}

.g_btn {
    background-color: #000;
    color: #fff;
    transition: all .3s;
    cursor: pointer;
}

.g_btn,.forget_password_btn {
    padding: 0 20px;
    height: 40px;
}

.forget_password_btn {
    color: #fff;
    border: none;
    color: var(--text-color);
}
