<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/fragments :: include"></head>

<head>
    <title>Đăng nhập</title>
</head>

<body>
    <header th:replace="layout/fragments :: header"></header>
    <div class="grid login_container">
        <div class="row">
            <div class="login_container_left c-6">
                <h2 class="login_container_left_title">ĐĂNG NHẬP TÀI KHOẢN</h2>
                <form th:action="@{/perform_login}" class="login_container_left_login_form" method="POST">
                    <div class="group email_group">
                        <span>Email:</span>
                        <input type="email" class="email" name="email" placeholder="Email" required>
                    </div>

                    <div class="group password_group">
                        <span>Password:</span>
                        <input type="password" class="password" name="password" placeholder="Password" required>
                    </div>

                    <div class="group button_group">
                        <button type="submit" class="login_btn g_btn">
                            <i class="fa-solid fa-lock-open"></i>
                            ĐĂNG NHẬP
                        </button>
                        <button class="forget_password_btn">Quên mật khẩu</button>
                    </div>
                </form>
            </div>
            <div class="login_container_right c-6">
                <h2 class="login_container_right_title">TẠO TÀI KHOẢN MỚI</h2>
                <p>Đăng ký tài khoản ngay để có thể mua hàng nhanh chóng và dễ dàng hơn ! Ngoài ra còn có rất nhiều
                    chính
                    sách và ưu đãi cho các thành viên</p>
                <button class="create_account_btn g_btn">
                    <i class="fa-solid fa-user"></i>
                    Tạo tài khoản
                </button>
            </div>
        </div>
    </div>
    <footer th:replace="layout/fragments :: footer"></footer>
</body>

</html>